aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
docx-mailmerge==0.5.0
idna==2.10
lxml==4.6.2
multidict==5.1.0
pip-licenses==3.3.0
PTable==0.9.2
pywin32==227
typing-extensions==3.7.4.3
yarl==1.6.3